<h1 class="display-1">
	<div class="display-1--intro">Carrito</div>
</h1>

<div id="divProdTable" class="table-responsive align-self-center w-100">
	<table
		id="productTable"
		class="table table-sm table-primary table-striped align-self-center text-center"
	>
		<thead class="table-dark">
			<tr>
				<th scope="col">Carrito</th>
				<th scope="col">Producto</th>
				<th scope="col">Imagen</th>
				<th scope="col">Precio</th>
				<th scope="col">Categoría</th>
				<th scope="col">Cantidad</th>
			</tr>
		</thead>
		<tbody class="productList">
			{{#each carts}}
				{{#each products}}
					<tr>
						<th scope="row">{{_id}}</th>
						<th scope="row">{{pid.title}}</th>
						<td><img
								src="{{correctThumbnails pid.thumbnails}}"
								alt="product image"
							/></td>
						<td>{{pid.price}}</td>
						<td>{{pid.category}}</td>
						<td>{{quantity}}</td>
					</tr>
				{{/each}}
			{{/each}}
		</tbody>
	</table>
</div>