<h2>Carrito</h2>

<div id="divProdTable" class="table-responsive align-self-center w-75">
	<table
		id="productTable"
		class="table table-sm table-primary table-striped align-self-center text-center"
	>
		<thead class="table-dark">
			<tr>
				<th scope="col">Producto</th>
				<th scope="col">Imagen</th>
				<th scope="col">Precio</th>
				<th scope="col">Categoría</th>
				<th scope="col">Cantidad</th>
			</tr>
		</thead>
		<tbody class="productList">
			{{#each products}}
				<tr>
					<th scope="row">{{this.title}}</th>
					<td><img
							src="{{correctThumbnails this.thumbnails}}"
							alt="product image"
						/></td>
					<td>{{this.price}}</td>
					<td>{{this.category}}</td>
					<td>{{this.quantity}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>