<script defer src="/static/js/carts.js"></script>

<h1 class="display-1">
	<div class="display-1--intro">Carrito de {{userInfo.full_name}}</div>
</h1>

<div class="userCart display-1--description" id={{userInfo.isCartEmpty}}>
	{{#if userInfo.isCartEmpty}}
		<button class="button-cart" id="PrimeraCompra">¡Comprar un producto!</button>
	{{else}}
		<button class="button-cart" id="SeguirComprando">Seguir comprando</button>
	{{/if}}
</div>

<div id="divProdTable" class="table-responsive align-self-center w-100">
	<table
		id="productTable"
		class="table table-sm table-primary table-striped align-self-center text-center"
	>
		<thead class="table-dark">
			<tr>
				<th scope="col">Carrito N°</th>
				<th scope="col">Producto</th>
				<th scope="col">Imagen</th>
				<th scope="col">Precio</th>
				<th scope="col">Categoría</th>
				<th scope="col">Cantidad</th>
			</tr>
		</thead>
		<tbody class="productList">
		{{#each products}}
			<tr>
				<th scope="row">{{cid}}</th>
				<th scope="row">{{pid.title}}</th>
				<td><img
						src="{{correctThumbnails pid.thumbnails}}"
						alt="product image"
					/></td>
				<td>${{pid.price}}</td>
				<td>{{pid.category}}</td>
				<td>{{quantity}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>