<h1 class="display-1">
	<div class="display-1--intro">Productos</div>
</h1>

<script defer src="../static/js/products.js"></script>

<div class="display-1--description">
	<span><strong>Productos:</strong> {{paginate.totalDocs}}</span>
	|
	<span><strong>Página:</strong>
		{{paginate.page}}
		de
		{{paginate.totalPages}}</span>
</div>
<div class="display-1--description">
	<label for="status"><strong>Disponibilidad:</strong></label>
	<select name="query" id="status" onchange="changeOptions(this)">
		<option value="none">Todos</option>
		<option value="true">Disponibles</option>
		<option value="false">No Disponibles</option>
	</select>
	<label for="category"><strong>Categorías:</strong></label>
	<select name="query" id="category" onchange="changeOptions(this)">
		<option value="none">Todas</option>
		{{#each categories}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<label for="sort"><strong>Ordenar:</strong></label>
	<select name="sort" id="sort" onchange="changeOptions(this)">
		<option value="none">-</option>
		<option value="asc">Precio ascendente</option>
		<option value="desc">Precio descendente</option>
	</select>
</div>
<div class="display-1--description">
	{{#if paginate.hasPrevPage}}
		<button onclick="changePage(1)">Primera Página</button>
		<button onclick="changePage({{paginate.prevPage}})">Página Anterior</button>
	{{/if}}
	{{#if paginate.hasNextPage}}
		<button onclick="changePage({{paginate.nextPage}})">Página Siguiente</button>
		<button onclick="changePage({{paginate.totalPages}})">Última Página</button>
	{{/if}}
</div>
<div class="cartCards--container">
	{{#each products}}
		<div class="cartCard">
			<div class="cartCard-image">
				<img
					class="image"
					style="height: 350px;"
					src="{{correctThumbnails thumbnails}}"
					alt="Imagen del producto"
				/>
			</div>
			<div class="cartCard-content">
				<p class="cartCard-content__title">{{title}}</p>
				<p class="cartCard-content__body">{{description}}</p>
				<p class="cartCard-content__body">Precio: ${{price}}</p>
				<p class="cartCard-content__body">Categoría: {{category}}</p>
				{{#if status}}
					<p class="cartCard-content__body">Stock: {{stock}}</p>
				{{else}}
					<p class="cartCard-content__body">No disponible</p>
				{{/if}}
				<button class="addToCart button-cart" id={{_id}}>Añadir al carrito</button>
			</div>
		</div>
	{{/each}}
</div>