<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/static/js/realTimeProducts.js"></script>

<h1 class="display-1">
	<div class="display-1--intro">RealTime Products</div>
</h1>

<form id="newProductForm">
	<fieldset>
		<legend><span class="number">1</span>Datos del producto a crear</legend>
		<label for="newProductCode">C칩digo:</label>
		<input
			type="text"
			id="newProductCode"
			name="newProductCode"
			placeholder="C칩digo del producto"
		/>

		<label for="newProductCategory">Categor칤a:</label>
		<select id="newProductCategory" name="newProductCategory">
			<option value="Est칠tica">Est칠tica</option>
			<option value="Pr칩tesis">Pr칩tesis</option>
			<option value="Rehabilitaci칩n">Rehabilitaci칩n</option>
		</select>

		<label for="newProductTitle">T칤tulo:</label>
		<input
			type="text"
			id="newProductTitle"
			name="newProductTitle"
			placeholder="Nombre del producto"
		/>

		<label for="newProductDescription">Descripci칩n:</label>
		<input
			type="text"
			id="newProductDescription"
			name="newProductDescription"
			placeholder="Descripci칩n del producto"
		/>

		<label for="newProductPrice">Precio:</label>
		<input
			type="number"
			id="newProductPrice"
			name="newProductPrice"
			placeholder="Precio del producto"
		/>

		<label for="newProductStock">Stock:</label>
		<input
			type="number"
			id="newProductStock"
			name="newProductStock"
			placeholder="Stock del producto"
		/>

		<button class="btn--submit__contact" type="submit">Crear Producto</button>
	</fieldset>
</form>

<div class="display-1--description">
	<span><strong>Productos:</strong> {{paginate.totalDocs}}</span>
	|
	<span><strong>P치gina:</strong>
		{{paginate.page}}
		de
		{{paginate.totalPages}}</span>
</div>
<div class="display-1--description">
	<label for="status"><strong>Disponibilidad:</strong></label>
	<select name="query" id="status" onchange="changeOptions(this)">
		<option value="none">Todos</option>
		<option value="true">Disponibles</option>
		<option value="false">No Disponibles</option>
	</select>
	<label for="category"><strong>Categor칤as:</strong></label>
	<select name="query" id="category" onchange="changeOptions(this)">
		<option value="none">Todas</option>
		{{#each categories}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<label for="sort"><strong>Ordenar:</strong></label>
	<select name="sort" id="sort" onchange="changeOptions(this)">
		<option value="none">-</option>
		<option value="asc">Precio ascendente</option>
		<option value="desc">Precio descendente</option>
	</select>
</div>
<div class="display-1--description">
	{{#if paginate.hasPrevPage}}
		<button
			class="button-cart"
			title="Primera p치gina"
			alt="Primera p치gina"
			onclick="changePage(1)"
		>&#8676;</button>
		<button
			class="button-cart"
			title="P치gina anterior"
			alt="P치gina anterior"
			onclick="changePage({{paginate.prevPage}})"
		>&#8810;</button>
	{{/if}}
	{{#if paginate.hasNextPage}}
		<button
			class="button-cart"
			title="P치gina siguiente"
			alt="P치gina siguiente"
			onclick="changePage({{paginate.nextPage}})"
		>&#8811;</button>
		<button
			class="button-cart"
			title="칔ltima p치gina"
			alt="칔ltima p치gina"
			onclick="changePage({{paginate.totalPages}})"
		>&#8677;</button>
	{{/if}}
</div>
<div id="cid" hidden>{{userInfo.cid}}</div>
<div class="userCart display-1--description" id="{{userInfo.cid}}">{{userInfo.full_name}} seleccion치 el producto deseado:</div>

<div id="cartCards--list" class="cartCards--container">
	{{#each products}}
		<div class="cartCard">
			<div class="cartCard-image">
				<img
					class="image"
					style="height: 350px;"
					src="{{correctThumbnails thumbnails}}"
					alt="Imagen del producto"
				/>
			</div>
			<div class="cartCard-content">
				<p class="cartCard-content__title">{{title}}</p>
				<p class="cartCard-content__body">{{description}}</p>
				<p class="cartCard-content__body">Precio: ${{price}}</p>
				<p class="cartCard-content__body">Categor칤a: {{category}}</p>
				{{#if status}}
					<p class="cartCard-content__body">Stock: {{stock}}</p>
				{{else}}
					<p class="cartCard-content__body">No disponible</p>
				{{/if}}
				<button class="addToCart button-cart" 				<button class="addToCart button-cart" id={{_id}}>A침adir al carrito</button>
>A침adir al 游</button>
			</div>
		</div>
	{{/each}}
</div>