<h1 class="display-1">
	<div class="display-1--intro">Usuarios</div>
</h1>

<script defer src="../static/js/users.js"></script>

<div class="display-1--description">
	<span><strong>Usuarios:</strong> {{paginate.totalDocs}}</span>
	|
	<span><strong>Página:</strong>
		{{paginate.page}}
		de
		{{paginate.totalPages}}</span>
</div>
<div class="display-1--description">
	<label for="status"><strong>Status:</strong></label>
	<select name="query" id="status" onchange="changeOptions(this)">
		<option value="none">Todos</option>
		<option value="true">Activos</option>
		<option value="false">No Activos</option>
	</select>
	<label for="role"><strong>Roles:</strong></label>
	<select name="query" id="role" onchange="changeOptions(this)">
		<option value="none">Todos</option>
		{{#each roles}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<label for="sort"><strong>Ordenar:</strong></label>
	<select name="sort" id="sort" onchange="changeOptions(this)">
		<option value="none">-</option>
		<option value="asc">Nombre ascendente</option>
		<option value="desc">Nombre descendente</option>
	</select>
</div>
<div class="display-1--description">
	{{#if paginate.hasPrevPage}}
		<button class="button-cart" title="Primera página" alt="Primera página" onclick="changePage(1)">&#8676;</button>
		<button
			class="button-cart" title="Página anterior" alt="Página anterior"
			onclick="changePage({{paginate.prevPage}})"
		>&#8810;</button>
	{{/if}}
	{{#if paginate.hasNextPage}}
		<button
			class="button-cart" title="Página siguiente" alt="Página siguiente"
			onclick="changePage({{paginate.nextPage}})"
		>&#8811;</button>
		<button
			class="button-cart" title="Última página" alt="Última página"
			onclick="changePage({{paginate.totalPages}})"
		>&#8677;</button>
	{{/if}}
</div>
<div>
	<table
		id="userTable"
		class="table table-sm table-primary table-striped align-self-center text-center"
	>
		<thead class="table-dark">
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">email</th>
				<th scope="col">Usuario</th>
				<th scope="col">Rol</th>
			</tr>
		</thead>
		<tbody class="userList">
			{{#each users}}
				<tr>
					<th scope="row">{{first_name}}</th>
					<td>{{last_name}}</td>
					<td>{{email}}</td>
					<td>{{username}}</td>
					<td>{{role}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>